*.txt
*.log
*.xlsx
*.csv
*bak
*bak/
*.bak
*tmp/
*outputs*
*demo*
*.md
*.iss
*bat
*.env*
tmp*
*pyc*
*.zip

*analysis_result*.json
*timer*.json
*discovered_rules*.json
prompts/*rule*.json
!prompts/math_rule_detection.json
prompts/*observe*.json
*output*/
issues*/*
storage*/*

